{% extends "_base.njk" %}
{% block content %}
<h2>All Regions</h2>

{% for region in regions %}
<article>
<header>
<h3><a href="/regions/{{ region.slug }}">{{ region.name }}</a></h3>
</header>
<p>{{ region.country }}</p>
</article>
{% endfor %}
{% endblock content %}
